{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style type="text/css">
    td, th {
        text-align: center;
        min-width: 200px
    }

</style>
{% endblock %}
{% block content %}
<div class="container-fluid " style="overflow-x: auto; position: absolute;">
    <table class="table table-responsive table-striped table-bordered table-hover" >
        <thead>
        <tr class="bg-primary">
            <th>Team ID: Team Name</th>
            {% for team in teams %}
                <th><a href="{% url 'team_display' team.teamid%}" style="color:#FFF;"> {{ team.teamid }}: {{ team.name }} </a></th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>LRP</td>
                {% for LRP in LRPs %}
                    <td> {{ LRP }} </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Advisor orientation<br>(to be deleted when all sessions happened)</td>
                {% for LRP in LRPs %}
                    <td> </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Kick-off<br>(to be deleted when all teams are kick-off)</td>
                {% for LRP in LRPs %}
                    <td> </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Comment (Globalizer LRP)</td>
                {% for comment in lrp_comment %}
                <td>
                    <a href="#" id={{comment.teamid}} class="comment-change">
                        {{comment.comment}}
                    </a>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Working document</td>
                {% for document in working_document %}
                    <td>{{ document }} </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Requests (Consultants)</td>
                {% for request in consultant_request %}
                    <td> {{ request }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Requests (Fellow)</td>
                {% for request in fellow_requests %}
                    <td> {{ request }}</td>
                {% endfor %}
            </tr>

            <tr>
                <td>Team STATUS</td>
                {% for s in status %}
                    <td class={{s.status}}> {{ s.status }}</td>
                {% endfor %}
            </tr>

            <tr>
                <td>Change Team status</td>
                {% for s in status %}
                    <td><form class="form statusForm" action="{% url 'update' %}"  method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="teamId" class="form-control" value="{{s.teamid}}">
                        <select name="newStatusColor" id="newStatusColor" class="text form-control ui-widget-content ui-corner-all">
                          <option value="RED"
                              {% ifequal s.status "RED" %} selected {% endifequal %}>
                            Red. (Major issues)
                          </option>
                          <option value="YELLOW"
                              {% ifequal s.status "YELLOW" %} selected {% endifequal %}>
                              Yellow. (Some minor issues)
                          <option value="GREEN"
                              {% ifequal s.status "GREEN" %} selected {% endifequal %}>
                            Green. (All good)</option>
                          </option>
                      </select>
                    </form></td>
                {% endfor %}
            </tr>

            <tr>
                <td>Team Warnings</td>
                {% for LRP in LRPs %}
                    <td> </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <!-- Dialog to change LRP comments -->
    <div id="dialog-comment" title="Change LRP Comment">
        <form id="commentForm" action="{% url 'update' %}" class="form" method="POST">
            {% csrf_token %}
            <input type="hidden" id="teamId" name="teamId" class="form-control">
            <label for="LRPComment" class="form-label">LRP Comment</label>
            <textarea id="LRPComment" class="form-control" name="LRPComment" style="height: 106px;"></textarea>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'dashboard/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'dashboard/js/colResizable-1.6.min.js' %}"></script>
    <script>
    $(function() {
        $("table").colResizable({resizeMode: 'overflow'});
        $('.GREEN').addClass('bg-success');
        $('.YELLOW').addClass('bg-warning');
        $('.RED').addClass('bg-danger');

        $('.statusForm').change(function () {
            $(this).submit();
        });

        // Register a dialog box for LRP change
        var dialogComment = $( "#dialog-comment" ).dialog({
          autoOpen: false,
          height: 250,
          width: 400,
          modal: true,
          buttons: {
              Submit: function () {
                  $('#commentForm').submit();
              },
              Cancel: function() {
                dialogComment.dialog( "close" );
              }
          }
        });

        // Open dialog when user clicks change button
        $( "a.comment-change" ).button().on( "click", function() {
            var id = $(this).attr("id");
            var current_comment = $(this).text();
            // Fill the teamId field in the form
            $('#commentForm > #teamId').val(id);
            $('#commentForm #LRPComment').text($.trim(current_comment));
            dialogComment.dialog( "open" );
        });

    });
    </script>
{% endblock %}