{% extends 'base.html' %}
{% block content %}
<div class="container">
	<h3 class="text-center text-Primary"> Fellow Survey Urls <small>One per Dashboard</small>
	<table class="table-bordered table table-stripped">
		{% for f in f_urls %}
		<tr>
			<td> {{ f.name }} <a href= '{{ f.url}}'>
			{{ request.META.HTTP_HOST }}{{ f.url }}</a></td>
		</tr>
		{% endfor %}
	</table>
	<h3 class="text-center text-Primary"> Consultant Survey Urls <small>One per Team</small>
	<table class="table-bordered table table-stripped">
		{% for c in c_urls %}
		<tr>
			<td>{{ c.name }} <a href= '{{ c.url}}'>
			{{ request.META.HTTP_HOST }}{{ c.url }}</a></td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}