{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h3 class="text-center text-Primary"> Survey URLs</h3>
            <table class="table-bordered table table-stripped">
                {% for u in survey_urls %}
                    <tr>
                        <td>{{ u.name }}</td>
                        <td> Fellow URL: <a
                                href='{{ u.f_url }}'>
                            http:/{{ request.META.HTTP_HOST }}{{ u.f_url }}</a></td>
                        <td> Consultant URL: <a
                                href='{{ u.c_url }}'>
                            http:/{{ request.META.HTTP_HOST }}{{ u.c_url }}</a></td>
                    </tr>
                {% endfor %}
            </table>
    </div>
{% endblock %}