{% extends 'base.html' %}
{% load static %}
{% load myFilters %}
{% block stylesheet %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style type="text/css">
    #dialog-comment{
        display:none;
    }
    .well {
        margin-bottom:0;
    }
    .show-hide-div {
        width: 100%;
    }
    .show-hide-div-title {
        margin: 0;
        display: inline;
    }
    #dialog-email label {
        margin-right: 5px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2 class="text-primary text-center"> {{ team.name }}</h2>

    <!-- Team member information -->
    <a class="show-hide-div btn" >
        <div class="well row">
            <span class="glyphicon glyphicon-arrow-down" style="display: none;"></span>
            <span class="glyphicon glyphicon-arrow-up"></span>
            <h4 class="text-danger show-hide-div-title"> Team Information</h4>
        </div>
    </a>
    <div id="team-info-div">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Missed Calls</th>
                    <th>Comments</th>
                    <th style="max-width: 103px;">Receives reminder emails?</th>
                </tr>
            </thead>
            <tbody>
                {% for member in team_members %}
                <tr>
                    <td>{{ member.role }}</td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.email }}</td>
                    <td></td>
                    <td>
                        <a href="#" class="change-comment" id={{ member.id }}>
                           {% if member.comment %}
                            {{ member.comment }}
                            {% else %}
                            New Comment
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <form method="post" class="receives-reminder-email-form form" action={% url 'update' %}>
                            {% csrf_token %}
                            <input type="text" value={{ member.id }} name="memberId" hidden>
                            <div class="form-group">
                                <select class="form-control" name="receives_reminder_emails">
                                    <option value={{ member.receives_survey_reminder_emails }}>
                                        {{ member.receives_survey_reminder_emails|yesno|capfirst }}
                                    </option>
                                    <!--suppress HtmlUnknownAttribute -->
                                    <option value={{ member.receives_survey_reminder_emails|yesno:"False, True" }}>
                                        {{ member.receives_survey_reminder_emails|yesno:"No, Yes" }}
                                    </option>
                                </select>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Document Link</td>
                    <td colspan="2">
                        <a href="{{ team.working_document }}">{{ team.working_document }}</a>
                    </td>
                    <td>Consultant Survey URL</td>
                    <td colspan="2">
                        <a href="{{ team.consultant_form_url }}" target="_blank">
                            {{ request.META.HTTP_HOST }}{{ team.consultant_form_url}}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> <!-- Team member info -->

    <!-- Team management -->
    <a class="show-hide-div btn">
        <div class="well row">
            <span class="glyphicon glyphicon-arrow-down" ></span>
            <span class="glyphicon glyphicon-arrow-up" style="display: none;" ></span>
            <h4 class="text-success show-hide-div-title"> Team Management</h4>
        </div>
    </a>
    <div id="team-management-div">
        <div class="col-xs-8 col-md-9">
            <table class="table table-responsive table-bordered table-striped" >
                <thead>
                    <tr>
                        <th>Calls</th>
                        <th>Received Reminder Emails</th>
                        <th>Kick Off</th>
                        <th>Mid Term</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2 calls / 15 expected</td>
                        <td>Automatic Reminders</td>
                        <td>Status</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>
                            <form class="form-inline" method="post" id="change-calls-count-form" action="{% url 'update' %}">
                                <input type="text" hidden value="{{ team.id }}" name="teamId">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="change-calls-value">Add/Subtract calls</label>
                                    <input type="number" name="change_calls_count"
                                            id="change-calls-value"
                                            class="form-control"
                                            style="width: 70px;">
                                    </input>
                                </div>
                                <div class="form-group" id="submit-button" style="display: none;">
                                    <input type="submit" class="form-control btn-primary">
                                </div>
                            </form>
                        </td>
                        <td>
                            <form action="" method="post" class="form" id="change-automatic-reminder-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <select name="automatic_reminder_status"
                                            id="automatic-reminder-status"
                                            class="form-control">
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </form>
                        </td>
                        <td>
                            <form action="" method="post" class="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <select name="kick_off_status" id="change-kick-off-status"
                                            class="form-control">
                                        <option value="not-started">Not Started</option>
                                        <option value="intro-mail-sent">Intro Mail Sent</option>
                                        <option value="date-arranged">Date Arranged</option>
                                        <option value="call-happened">Call happened</option>
                                    </select>
                                </div>
                            </form>
                        </td>
                        <td>
                            <form action="" method="post" class="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <select name="mid_term_status" id="change-mid-term-status"
                                            class="form-control">
                                        <option value="not-started">Not Started</option>
                                        <option value="intro-mail-sent">Intro Mail Sent</option>
                                        <option value="date-arranged">Date Arranged</option>
                                        <option value="call-happened">Call happened</option>
                                    </select>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Last email was sent on 22/11/2016</td>
                        <td>
                            <a href="#" class="change-comment" id="change-kick-off">
                               {% if member.comment %}
                                {{ member.comment }}
                                {% else %}
                                New Comment
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="#" class="change-comment" id="change-mid-term">
                               {% if member.comment %}
                                {{ member.comment }}
                                {% else %}
                                New Comment
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-4 col-md-3">
            <table class="table table-responsive">
                <tr>
                    <td>
                        <a class="btn btn-warning email-button" id="send-instruction-email">
                            Send Instruction Mail
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-success email-button" id="send-reminder-email">
                            Send Reminder Mail
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-primary email-button" id="send-message-fellows">
                            Send Message to Fellows
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-info email-button" id="send-message-team">
                            Send Message to Team
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div> <!-- Team management -->

    <!-- Secondary Roles -->
    <a class="show-hide-div btn">
        <div class="well row">
            <span class="glyphicon glyphicon-arrow-down"></span>
            <span class="glyphicon glyphicon-arrow-up" style="display: none;"></span>
            <h4 class="text-success show-hide-div-title"> Role Management</h4>
        </div>
    </a>
    <div id="secondary-roles-div">
    <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name (Role)</th>
                    <th>Process Manager</th>
                    <th>Keeper of the Minutes</th>
                    <th>Pulse Checker* </th>
                    <th>Conference Convener</th>
                    <th>Conference Host</th>
                </tr>
            </thead>
            <tbody>
            {% for member in team_members %}
                <tr>
                    <td>{{ member.name }} ({{ member.role }})</td>
                    <td>
                        <form method="post" id="process-manager-form" class="secondary-role-change form" action={% url 'update' %}>
                            {% csrf_token %}
                            <input type="text" value={{ member.id }} name="memberId" hidden>
                            <input type="text" value="PM" name="secondary_role_change" hidden>
                            <div class="form-group">
                                <input type="checkbox" class="form-control" id="main" value="yes" name="value"
                                {% if member.secondary_role.all|has_secondary_role:"PM" %}
                                    checked
                                {% endif %}>
                                <input type='hidden' value='no' name='value' id='backup'>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form method="post" id="keeper-of-minutes-form" class="secondary-role-change form" action={% url 'update' %}>
                            {% csrf_token %}
                            <input type="text" value={{ member.id }} name="memberId" hidden>
                            <input type="text" value="KOM" name="secondary_role_change" hidden>
                            <div class="form-group">
                                <input type="checkbox" class="form-control" id="main" value="yes" name="value"
                                {% if member.secondary_role.all|has_secondary_role:"KOM" %}
                                    checked
                                {% endif %}>
                                <input type='hidden' value='no' name='value' id='backup'>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form method="post" id="pulse-checker-form" class="secondary-role-change form" action={% url 'update' %}>
                            {% csrf_token %}
                            <input type="text" value={{ member.id }} name="memberId" hidden>
                            <input type="text" value="PC" name="secondary_role_change" hidden>
                            <div class="form-group">
                                <input type="checkbox" class="form-control" id="main" value="yes" name="value"
                                {% if member.secondary_role.all|has_secondary_role:"PC" %}
                                    checked
                                {% endif %}>
                                <input type='hidden' value='no' name='value' id='backup'>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form method="post" id="conference-convener-form" class="secondary-role-change form" action={% url 'update' %}>
                            {% csrf_token %}
                            <input type="text" value={{ member.id }} name="memberId" hidden>
                            <input type="text" value="CC" name="secondary_role_change" hidden>
                            <div class="form-group">
                                <input type="checkbox" class="form-control" id="main" value="yes" name="value"
                                {% if member.secondary_role.all|has_secondary_role:"CC" %}
                                    checked
                                {% endif %}>
                                <input type='hidden' value='no' name='value' id='backup'>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form method="post" id="conference-host-form" class="secondary-role-change form" action={% url 'update' %}>
                            {% csrf_token %}
                            <input type="text" value={{ member.id }} name="memberId" hidden>
                            <input type="text" value="CH" name="secondary_role_change" hidden>
                            <div class="form-group">
                                <input type="checkbox" class="form-control" id="main" value="yes" name="value"
                                {% if member.secondary_role.all|has_secondary_role:"CH" %}
                                    checked
                                {% endif %}>
                                <input type='hidden' value='no' name='value' id='backup'>
                            </div>
                        </form>
                    </td>
                </tr>
            {%  endfor %}
                <tr>
                    <td colspan="6">*Pulse Checker will receive reminder emails</td>
                </tr>
            </tbody>
        </table>
    </div> <!-- Secondary Role -->

    <!-- Fellow responses -->
    <a class="show-hide-div btn">
        <div class="well row">
            <span class="glyphicon glyphicon-arrow-down"></span>
            <span class="glyphicon glyphicon-arrow-up" style="display: none;"></span>
            <h4 class="text-success show-hide-div-title"> Fellow Responses</h4>
        </div>
    </a>
    <div id="fellow-responses-div">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Submit Date</th>
                    <th>Rating</th>
                    <th>Comments</th>
                    <th>Help</th>
                </tr>
            </thead>
            <tbody>
                {% for response in fellow_responses %}
                <tr>
                    <td>{{ response.submit_date|date:"d/M" }}</td>
                    <td>{{ response.phase_rating|default:"" }}</td>
                    <td>{{ response.comments }}</td>
                    <td>{{ response.other_help }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> <!-- Fellow Responses -->

    <!-- Consultant responses -->
    <a class="show-hide-div btn">
        <div class="well row">
            <span class="glyphicon glyphicon-arrow-down"></span>
            <span class="glyphicon glyphicon-arrow-up" style="display: none;"></span>
            <h4 class="text-success show-hide-div-title"> Consultant Responses</h4>
        </div>
    </a>
    <div id="consultant-responses-div">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Submit Date</th>
                    <th>Call Date</th>
                    <th>Who was missing?</th>
                    <th>All Prepared</th>
                    <th>Progress</th>
                    <th>Topic Discussed</th>
                    <th>Requests</th>
                    <th>Rating</th>
                    <th>Comments</th>
                    <th>Links</th>
                </tr>
            </thead>
            <tbody>
                {% for response in consultant_responses %}
                <tr>
                    <td>{{ response.submit_date|date:"d/M" }}</td>
                    <td>{{ response.call_date|date:"d/M" }}</td>
                    <td>{{ response.missing_member_names }}</td>
                    <td>{{ response.all_prepared|yesno }}</td>
                    <td>{{ response.current_phase }}</td>
                    <td>{{ response.topic_discussed }}</td>
                    <td>{{ response.help }}</td>
                    <td>{{ response.phase_rating|default:"" }}</td>
                    <td>{{ response.other_comments }}</td>
                    <td>{{ response.document_link }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> <!-- Consultant Responses -->

    <!-- Dialog to change comments -->
    <div id="dialog-comment" title="Change Comment">
        <form id="commentForm" action="{% url 'update' %}" class="form" method="POST">
            {% csrf_token %}
            <input type="hidden" class="form-control" id="memberId" name="memberId">
            <label class="form-label">Comment</label>
            <textarea class="form-control" style="height: 106px;"></textarea>
        </form>
    </div>

    <div id="dialog-email" title="Send Email">
        <form class="form" id="email-form" method="POST" action="{% url 'send_email' %}">
            {% csrf_token %}
            <input type="hidden" class="form-control" name="teamId" value="{{team.id}}">
            Send to:
            <div class="form-group" id="memberChoice">
            {% for member in team_members %}
                <label><input type="checkbox" name="send_to" value="{{ member.email }}">{{ member.name }} ({{ member.role }})</label>
            {% endfor %}
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="email-subject" id="email-subject" placeholder="Email Subject">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="email_body" id="email-body" placeholder="Email Text" style="height: 230px;"></textarea>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'dashboard/js/jquery-ui.min.js' %}"></script>
<script>
    $(function() {

        commentDialogSetup();
        showHideSetup();
        sendEmailSetup();

        // Show call count change submit button
        $('#change-calls-count-form').change(function() {
            $(this).find('#submit-button').show();
        });
        // Submit form on receives reminder email value change
        $(".receives-reminder-email-form").change(function() {
            $(this).submit();
       });

        // Submit secondary role change form
        $(".secondary-role-change").change(function(){
            if($(this).find('#main').prop('checked')){
                $(this).find('#backup').prop('disabled', true)
            }
            $(this).submit();
        });
    });

    function commentDialogSetup(){
        // Register a dialog box for LRP change
        var dialogComment = $("#dialog-comment").dialog({
          autoOpen: false,
          height: 250,
          width: 400,
          modal: true,
          buttons: {
              Submit: function(){
                  $('#commentForm').submit();
              },
              Cancel: function() {
                dialogComment.dialog( "close" );
              }
          }
        });

        // Open dialog when user clicks change button
        $("a.change-comment").button().on("click", function(){
            // Change kick off comment
            if($(this).attr('id') == 'change-kick-off'){
                $('#commentForm textarea').attr('name', 'kick_off_comment');
            }
            // Change mid term comment
            else if ($(this).attr('id') == 'change-mid-term'){
                $('#commentForm textarea').attr('name', 'mid_term_comment');
            }

            // Change Team member comment
            else {
                $('#commentForm textarea').attr('name', 'member_comment');
                var member_id = $(this).attr('id');
                $('#commentForm input#memberId').val(member_id);
            }

            var current_comment = $(this).text();
            $('#commentForm textarea').text($.trim(current_comment));
            dialogComment.dialog( "open" );
        });
    }
    function showHideSetup(){
        // Hide all sections except team info
        $('#consultant-responses-div').hide();
        $('#fellow-responses-div').hide();
        $('#team-management-div').hide();
        $('#secondary-roles-div').hide();

        // Show/Hide sections
        $('a.show-hide-div').click(function(){
            $(this).next().slideToggle();
            $(this).find(".glyphicon-arrow-up, .glyphicon-arrow-down").toggle();
        });
    }
    function sendEmailSetup() {
        // Register a dialog box for email
        var dialogEmail = $("#dialog-email").dialog({
            autoOpen: false,
            height: 500,
            width: 500,
            modal: true,
            buttons: {
                Send: function () {
                    $('#email-form').submit();
                },
                Cancel: function () {
                    dialogEmail.dialog("close");
                }
            }
        });

        $('.email-button').click(function () {
            var id = $(this).attr('id');
            var name_email = [];
            $('#team-info-div table tbody tr').each(function () {
                name_email.push({
                    'name': $(this).find('td:nth-child(2)').text(),
                    'email': $(this).find('td:nth-child(3)').text()
                });
            });
            // Remove last entry (link to the document)
            name_email.pop();

            /*
             Instruction Email
             It should be sent to all members
             */
            if (id == "send-instruction-email") {
                var form = $('#email-form');
                form.find('#memberChoice input').prop('checked', true);
                form.find('#email-subject').val("This is an Instruction Email");
                form.find('#email-body').text("Instruction Email Text");
            }



            /*
                var i;
                for (i in name_email) {
                    var select_box = $('#dialog-email #memberChoice');
                    var item = '<label><input type="checkbox" name="send_to"' +
                               ' value="' + name_email[i]['email'] + '">' +
                                name_email[i]['name'] + '</label>';
                    select_box.append(item);
                }
            }*/
            dialogEmail.dialog("open");
        });
    }
</script>
{% endblock %}