{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style type="text/css">
    #dialog-comment{ display:none;}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2 class="text-primary text-center"> {{ team.name }}</h2>

    <!-- Team member information -->
    <a class="show-hide-div" href="#" style="width: 100%; text-decoration: none;" >
        <div class="well row" style="padding: 10px;">
            <span class="glyphicon glyphicon-arrow-down" style="display: none;"></span>
            <span class="glyphicon glyphicon-arrow-up"></span>
            <h4 style="margin: 0; display: inline;" class="text-danger"> Team Information</h4>
        </div>
    </a>
    <div id="team-info-div">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Missed Calls</th>
                    <th>Comments</th>
                    <th style="max-width: 103px;">Receives reminder emails?</th>
                </tr>
            </thead>
            <tbody>
                {% for member in team_members %}
                <tr>
                    <td>{{ member.role }}</td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.email }}</td>
                    <td></td>
                    <td>
                        <a href="#" class="change-comment" id={{member.id}}>
                           {% if member.comment %}
                            {{ member.comment }}
                            {% else %}
                            New Comment
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <form method="post" class="receives-reminder-email-form form" action={% url 'update' %}>
                            {% csrf_token %}
                            <input type="text" value={{ member.id }} name="memberId" hidden>
                            <div class="form-group">
                                <select class="form-control" name="receives_reminder_emails">
                                    <option value={{ member.receives_survey_reminder_emails }}>
                                        {{ member.receives_survey_reminder_emails|yesno|capfirst }}
                                    </option>
                                    <!--suppress HtmlUnknownAttribute -->
                                    <option value={{ member.receives_survey_reminder_emails|yesno:"False, True" }}>
                                        {{ member.receives_survey_reminder_emails|yesno:"No, Yes" }}
                                    </option>
                                </select>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            <tr>
                <td>Document Link</td>
                <td colspan="2">{{ team.working_document }}</td>
                <td>Consultant Survey URL</td>
                <td colspan="2">url</td>
            </tr>
            </tbody>
        </table>
    </div> <!-- Team member info -->

    <!-- Team management -->
    <a class="show-hide-div" href="#" style="width: 100%; text-decoration: none;" >
        <div class="well row" style="padding: 10px;">
            <span class="glyphicon glyphicon-arrow-down" ></span>
            <span class="glyphicon glyphicon-arrow-up" style="display: none;" ></span>
            <h4 style="margin: 0; display: inline;" class="text-success"> Team Management</h4>
        </div>
    </a>
    <div id="team-management-div">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Calls</th>
                    <th>Received Reminder Emails</th>
                    <th>Kick Off</th>
                    <th>Mid Term</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 2 calls / 15 expected</td>
                    <td>Automatic Reminders</td>
                    <td>Status</td>
                    <td>Status</td>
                </tr>
                <tr>
                    <td> Add/Subtract calls
                        <form class="form" method="post" id="#change-calls-count-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <select name="change_calls_count"
                                        id="change-calls-value"
                                        class="form-control">
                                    <option value="1"> 1</option>
                                </select>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form action="" method="post" class="form" id="change-automatic-reminder-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <select name="automatic_reminder_status"
                                        id="automatic-reminder-status"
                                        class="form-control">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form action="" method="post" class="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <select name="kick_off_status" id="change-kick-off-status"
                                        class="form-control">
                                    <option value="not-started">Not Started</option>
                                    <option value="intro-mail-sent">Intro Mail Sent</option>
                                    <option value="date-arranged">Date Arranged</option>
                                    <option value="call-happened">Call happened</option>
                                </select>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form action="" method="post" class="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <select name="mid_term_status" id="change-mid-term-status"
                                        class="form-control">
                                    <option value="not-started">Not Started</option>
                                    <option value="intro-mail-sent">Intro Mail Sent</option>
                                    <option value="date-arranged">Date Arranged</option>
                                    <option value="call-happened">Call happened</option>
                                </select>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Last email was sent on 22/11/2016</td>
                    <td>
                        <a href="#" class="change-comment" id="change-kick-off">
                           {% if member.comment %}
                            {{ member.comment }}
                            {% else %}
                            New Comment
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="#" class="change-comment" id="change-mid-term">
                           {% if member.comment %}
                            {{ member.comment }}
                            {% else %}
                            New Comment
                            {% endif %}
                        </a>
                    </td>
                </tr>
            </tbody>

            <!--
            <tbody>
                <tr><td colspan="3"><strong>Calls</strong></td></tr>
                <tr>
                    <td> 2 calls / 15 expected</td>
                    <td> Add/Subtract calls
                        <form class="form" method="post" id="#change-calls-count-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <select name="change_calls_count"
                                        id="change-calls-value"
                                        class="form-control">
                                    <option value="1"> 1</option>
                                </select>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"><strong>Reminder Emails to pulse checker</strong></td>
                </tr>
                <tr>
                    <td>Automatic Reminders</td>
                    <td>
                        <form action="" method="post" class="form" id="change-automatic-reminder-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <select name="automatic_reminder_status"
                                        id="automatic-reminder-status"
                                        class="form-control">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </form>
                    </td>
                    <td>Last email was sent on 22/11/2016</td>
                </tr>
                <tr><td colspan="3"><strong>Kick-off</strong></td></tr>
                <tr>
                    <td>Status</td>
                    <td>
                        <form action="" method="post" class="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <select name="kick_off_status" id="change-kick-off-status"
                                        class="form-control">
                                    <option value="not-started">Not Started</option>
                                    <option value="intro-mail-sent">Intro Mail Sent</option>
                                    <option value="date-arranged">Date Arranged</option>
                                    <option value="call-happened">Call happened</option>
                                </select>
                            </div>
                        </form>
                    </td>
                    <td>
                        <a href="#" class="change-comment-kick-off" id="#">
                           {% if member.comment %}
                            {{ member.comment }}
                            {% else %}
                            New Comment
                            {% endif %}
                        </a>
                    </td>
                </tr>
                <tr><td colspan="3"><strong>Mid-Term</strong></td></tr>
                <tr>
                    <td>Status</td>
                    <td>
                        <form action="" method="post" class="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <select name="mid_term_status" id="change-mid-term-status"
                                        class="form-control">
                                    <option value="not-started">Not Started</option>
                                    <option value="intro-mail-sent">Intro Mail Sent</option>
                                    <option value="date-arranged">Date Arranged</option>
                                    <option value="call-happened">Call happened</option>
                                </select>
                            </div>
                        </form>
                    </td>
                    <td>
                        <a href="#" class="change-comment-mid-term">
                           {% if member.comment %}
                            {{ member.comment }}
                            {% else %}
                            New Comment
                            {% endif %}
                        </a>
                    </td>
                </tr>
            </tbody>-->
        </table>
    </div> <!-- Team management -->

    <!-- Fellow responses -->
    <a class="show-hide-div" href="#" style="width: 100%; text-decoration: none;" >
        <div class="well row" style="padding: 10px;">
            <span class="glyphicon glyphicon-arrow-down"></span>
            <span class="glyphicon glyphicon-arrow-up" style="display: none;"></span>
            <h4 style="margin: 0; display: inline;" class="text-success" > Fellow Responses</h4>
        </div>
    </a>
    <div id="fellow-responses-div">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Submit Date</th>
                    <th>Rating</th>
                    <th>Comments</th>
                    <th>Help</th>
                </tr>
            </thead>
            <tbody>
                {% for response in fellow_responses %}
                <tr>
                    <td>{{response.submit_date|date:"d/M"}}</td>
                    <td>{{response.phase_rating|default:""}}</td>
                    <td>{{response.comments}}</td>
                    <td>{{response.other_help}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> <!-- Fellow Responses -->

    <!-- Consultant responses -->
    <a class="show-hide-div" href="#" style="width: 100%; text-decoration: none;" >
        <div class="well row" style="padding: 10px;">
            <span class="glyphicon glyphicon-arrow-down"></span>
            <span class="glyphicon glyphicon-arrow-up" style="display: none;"></span>
            <h4 style="margin: 0; display: inline;" class="text-success" > Consultant Responses</h4>
        </div>
    </a>
    <div id="consultant-responses-div">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Submit Date</th>
                    <th>Call Date</th>
                    <th>Who was missing?</th>
                    <th>All Prepared</th>
                    <th>Progress</th>
                    <th>Topic Discussed</th>
                    <th>Requests</th>
                    <th>Rating</th>
                    <th>Comments</th>
                    <th>Links</th>
                </tr>
            </thead>
            <tbody>
                {% for response in consultant_responses %}
                <tr>
                    <td>{{response.submit_date|date:"d/M"}}</td>
                    <td>{{response.call_date|date:"d/M"}}</td>
                    <td>{{response.missing_member_names}}</td>
                    <td>{{response.all_prepared|yesno}}</td>
                    <td>{{response.current_phase}}</td>
                    <td>{{response.topic_discussed}}</td>
                    <td>{{response.help}}</td>
                    <td>{{response.phase_rating|default:""}}</td>
                    <td>{{response.other_comments}}</td>
                    <td>{{response.document_link}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> <!-- Consultant Responses -->


    <!-- Dialog to change comments -->
    <div id="dialog-comment" title="Change Comment">
      <form id="commentForm" action="{% url 'update' %}" class="form" method="POST">
          {% csrf_token %}
          <input type="hidden" class="form-control" id="memberId" name="memberId">
          <div class="form-group">
              <label class="form-label">Comment</label>
              <textarea class="form-control"></textarea>
          </div>
          <div class="form-group">
              <input type="submit" class="form-control btn btn-primary">
          </div>
      </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'dashboard/js/jquery-ui.min.js' %}"></script>
<script>
    $(function() {

        // Register a dialog box for LRP change
        var dialogComment = $("#dialog-comment").dialog({
          autoOpen: false,
          height: 300,
          width: 400,
          modal: true,
          buttons: {
              Cancel: function() {
                dialogComment.dialog( "close" );
              }
          }
        });

        // Open dialog when user clicks change button
        $("a.change-comment").button().on("click", function(){
            // Change kick off comment
            if($(this).attr('id') == 'change-kick-off'){
                $('#commentForm textarea').attr('name', 'kick_off_comment');
            }
            // Change mid term comment
            else if ($(this).attr('id') == 'change-mid-term'){
                $('#commentForm textarea').attr('name', 'mid_term_comment');
            }

            // Change Team member comment
            else {
                $('#commentForm textarea').attr('name', 'member_comment');
                var member_id = $(this).attr('id');
                $('#commentForm input#memberId').val(member_id);
            }

            var current_comment = $(this).text();
            $('#commentForm textarea').text($.trim(current_comment));
            dialogComment.dialog( "open" );
        });


        // Hide all sections except team info
        $('#consultant-responses-div').hide();
        $('#fellow-responses-div').hide();
        $('#team-management-div').hide();

        // Show/Hide sections
        $('a.show-hide-div').click(function(){
            $(this).next().slideToggle();
            $(this).find(".glyphicon-arrow-up, .glyphicon-arrow-down").toggle();
        });

        // Submit form on receives reminder email value change
        $(".receives-reminder-email-form").change(function() {
            $(this).submit();
       });
    });
</script>
{% endblock %}